* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

.container {
  background-color: #333;
  color: #eee;
  width: 80%;
  box-sizing: border-box;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*mesma coisa que acima*/
  margin: auto;

  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  /*mesma coisa que acima*/
  padding: 60px;

  border-top: 15px solid blue;
  border-left: 15px solid blue;
  border-right: 15px solid blue;
  border-bottom: 15px solid blue;
  /*mesma coisa que acima*/
  border: 15px solid red;
}

.main-aside h2 {
  text-align: center;
}

.main-aside h2:hover {
  color: red;
  cursor: pointer;
}

.main-aside ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.main-aside ul a {
  text-decoration: none;
  color: black;
}

.main-aside ul :hover {
  color: aqua;
}

.main-aside ul a:visited {
  color: blue;
}

/* Formularios */
.main-form {
  padding-left: 20px;
}

.main-form .form-group {
  padding-bottom: 5px;
}

.main-form .form-group input {
  padding: 10px;
  width: 100%;
}

.main-form .form-group label {
  display: block;
}

.button {
  padding: 15px;
  background-color: #333;
  color: #eee;
  border: none;
}

.box {
  width: 80%;
  margin: auto;
}

/* Positions */
 
.relative {
    position: relative;
    border: 3px solid #eee;
    height: 500px;
    border-radius: 7px;
}

.relative .absolute {
    position: absolute;
    bottom: 0;
}

.relative .absolute h1{
    margin: 0;
}

/* Barra de navegacão */
#main-navbar {
    background: #333;
    color: #eee;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

/* Fixed Button */
.fixed-button{
    background: #333;
    color: #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

/* Categories */
/* .categories ul{
   list-style: none;
}

.categories ul li:first-child{
    color: red;
}

.categories ul li:last-child{
    color: blue;
}

.categories ul li:nth-child(2){
    color: green;
} */

.categories ul li:nth-child(even){
    color: green;
}

.categories ul li:nth-child(odd){
    color: red;
}